*.pyc
.DS_Store
docs/build/*
venv
env/
.vscode
stimuli/.DS_Store

# --- Untracked stimuli (confidential or too big to track) ---
MultiTaskBattery/task notes.md
stimuli/sencoding
# Too big to track
stimuli/nature_movie
stimuli/landscapeMovie
stimuli/movie/misc/natureClip.mov
stimuli/movie/clips
# Confidential
stimuli/action_prediction/clips
stimuli/action_prediction/archive/
stimuli/frith_happe/clips
stimuli/strange_stories/clips
stimuli/strange_stories/orig
stimuli/liking/clips

