*.pyc
.DS_Store
docs/build/*
experiments/*/data/*
experiments/*/run_files/*
experiments/*/task_files/*
venv
env/
.vscode
stimuli/.DS_Store
MultiTaskBattery/task notes.md
stimuli/sencoding
stimuli/social_sequence
stimuli/action_prediction
stimuli/nature_movie

